/* Change the background color of the entire VBox and HBox taskbar */
#root, #taskbar {
  -fx-background-color: rgb(185, 60, 63);
  -fx-spacing: 1;
  -fx-padding: 3 3 3 3;
}

/* Style for nameLabel */
#nameLabel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, grey, 0.5, 0.5, 0.5, 0.5);
    -fx-wrap-text: true;
    -fx-max-width: 200.0;
}

/* Change the style for the Button */
Button {
  -fx-background-color: linear-gradient(to bottom, rgb(252, 252, 197) 0%, rgb(200, 200, 110) 40%, rgb(179, 145, 81) 85%);
  -fx-font-size: 14px;
  -fx-text-fill: black;
  -fx-font-weight: bold;
  -fx-alignment: CENTER;

}

Button:hover {
  -fx-background-color: linear-gradient(to bottom, rgb(255, 255, 210) 0%, rgb(230, 230, 140) 40%, rgb(209, 175, 111) 85%);
  -fx-font-weight: bold;
  -fx-text-fill: black;
}

Button:pressed {
  -fx-background-color: linear-gradient(to bottom, rgb(212, 212, 157) 0%, rgb(180, 180, 100) 40%, rgb(159, 125, 61) 85%);
  -fx-font-weight: bold;
  -fx-text-fill: black;
}

.centered-text {
  -fx-wrap-text: true;
  -fx-text-alignment: center;
  -fx-text-overrun: wrap;
  -fx-label-padding: 0 0 0 0;
}

.non-clickable {
  -fx-background-color: linear-gradient(to bottom, rgb(245, 90, 90), rgb(215, 85, 80));
  -fx-opacity: 0.6;
}

.name-text {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-alignment: CENTER_LEFT;
}

.textlabel {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

/* Change the background color for the Pane boxes */
.box {
  -fx-background-color: linear-gradient(to bottom, rgb(252, 252, 197) 0%, rgb(200, 200, 110) 40%, rgb(179, 145, 81) 85%);
}

.custom-spinner .text-field {
    -fx-background-color: linear-gradient(to bottom, rgb(245, 90, 90), rgb(215, 85, 80));
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.custom-spinner:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.custom-spinner .increment-arrow-button,
.custom-spinner .decrement-arrow-button {
    -fx-background-color: linear-gradient(to bottom, rgb(245, 245, 200) 0%, rgb(230, 230, 140) 20%, rgb(209, 175, 111) 65%);
}

.custom-spinner .increment-arrow,
.custom-spinner .decrement-arrow {
    -fx-background-color: black;
}

.player-name-field {
    -fx-background-color: linear-gradient(to bottom, rgb(245, 90, 90), rgb(215, 85, 80));
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
}